@media (max-width: 1350px) {
	
}


@media (max-width: 1200px) {
	
}

@media (max-width: 992px) {	
	
	
}



@media (max-width: 768px) {
	
	.overflow-visible-show {
	    overflow: hidden;
    }
    
    
}

@media (max-width: 576px) {
	.offcanvas-start{
		width: 350px;
	}
	

	
}

@media (min-width: 576px) {
	.container {
		max-width: 100%;
	}  			
}

@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}  			
}

@media (min-width: 992px){
	.container {
	   max-width: 992px;
	}				
}

@media (min-width: 1200px){
	.offcanvas{
		position: static;
		visibility: visible;
		background: transparent;
		&.offcanvas-start {
			transform: unset;
			border-right: 0px;
			width: auto;
		}
		.offcanvas-header{
			display: none;
		}
		.offcanvas-body{
			flex-grow: 1;
			padding: 0;
			overflow-y: auto;
		}
	}
	.container{
		max-width: 1440px;
	}			
}
