@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-Black.eot');
    src: url('SofiaPro-Black.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-Black.woff2') format('woff2'),
        url('SofiaPro-Black.woff') format('woff'),
        url('SofiaPro-Black.ttf') format('truetype'),
        url('SofiaPro-Black.svg#SofiaPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-BlackItalic.eot');
    src: url('SofiaPro-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-BlackItalic.woff2') format('woff2'),
        url('SofiaPro-BlackItalic.woff') format('woff'),
        url('SofiaPro-BlackItalic.ttf') format('truetype'),
        url('SofiaPro-BlackItalic.svg#SofiaPro-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-BoldItalic.eot');
    src: url('SofiaPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-BoldItalic.woff2') format('woff2'),
        url('SofiaPro-BoldItalic.woff') format('woff'),
        url('SofiaPro-BoldItalic.ttf') format('truetype'),
        url('SofiaPro-BoldItalic.svg#SofiaPro-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-ExtraLightItalic.eot');
    src: url('SofiaPro-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-ExtraLightItalic.woff2') format('woff2'),
        url('SofiaPro-ExtraLightItalic.woff') format('woff'),
        url('SofiaPro-ExtraLightItalic.ttf') format('truetype'),
        url('SofiaPro-ExtraLightItalic.svg#SofiaPro-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-Bold.eot');
    src: url('SofiaPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-Bold.woff2') format('woff2'),
        url('SofiaPro-Bold.woff') format('woff'),
        url('SofiaPro-Bold.ttf') format('truetype'),
        url('SofiaPro-Bold.svg#SofiaPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-ExtraLight.eot');
    src: url('SofiaPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-ExtraLight.woff2') format('woff2'),
        url('SofiaPro-ExtraLight.woff') format('woff'),
        url('SofiaPro-ExtraLight.ttf') format('truetype'),
        url('SofiaPro-ExtraLight.svg#SofiaPro-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-Light.eot');
    src: url('SofiaPro-Light.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-Light.woff2') format('woff2'),
        url('SofiaPro-Light.woff') format('woff'),
        url('SofiaPro-Light.ttf') format('truetype'),
        url('SofiaPro-Light.svg#SofiaPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-LightItalic.eot');
    src: url('SofiaPro-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-LightItalic.woff2') format('woff2'),
        url('SofiaPro-LightItalic.woff') format('woff'),
        url('SofiaPro-LightItalic.ttf') format('truetype'),
        url('SofiaPro-LightItalic.svg#SofiaPro-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-Medium.eot');
    src: url('SofiaPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-Medium.woff2') format('woff2'),
        url('SofiaPro-Medium.woff') format('woff'),
        url('SofiaPro-Medium.ttf') format('truetype'),
        url('SofiaPro-Medium.svg#SofiaPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-SemiBold.eot');
    src: url('SofiaPro-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-SemiBold.woff2') format('woff2'),
        url('SofiaPro-SemiBold.woff') format('woff'),
        url('SofiaPro-SemiBold.ttf') format('truetype'),
        url('SofiaPro-SemiBold.svg#SofiaPro-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-MediumItalic.eot');
    src: url('SofiaPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-MediumItalic.woff2') format('woff2'),
        url('SofiaPro-MediumItalic.woff') format('woff'),
        url('SofiaPro-MediumItalic.ttf') format('truetype'),
        url('SofiaPro-MediumItalic.svg#SofiaPro-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProBlack.eot');
    src: url('SofiaProBlack.eot?#iefix') format('embedded-opentype'),
        url('SofiaProBlack.woff2') format('woff2'),
        url('SofiaProBlack.woff') format('woff'),
        url('SofiaProBlack.ttf') format('truetype'),
        url('SofiaProBlack.svg#SofiaProBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-SemiBoldItalic.eot');
    src: url('SofiaPro-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-SemiBoldItalic.woff2') format('woff2'),
        url('SofiaPro-SemiBoldItalic.woff') format('woff'),
        url('SofiaPro-SemiBoldItalic.ttf') format('truetype'),
        url('SofiaPro-SemiBoldItalic.svg#SofiaPro-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro.eot');
    src: url('SofiaPro.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro.woff2') format('woff2'),
        url('SofiaPro.woff') format('woff'),
        url('SofiaPro.ttf') format('truetype'),
        url('SofiaPro.svg#SofiaPro') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaPro-Italic.eot');
    src: url('SofiaPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaPro-Italic.woff2') format('woff2'),
        url('SofiaPro-Italic.woff') format('woff'),
        url('SofiaPro-Italic.ttf') format('truetype'),
        url('SofiaPro-Italic.svg#SofiaPro-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProMedium-Italic.eot');
    src: url('SofiaProMedium-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProMedium-Italic.woff2') format('woff2'),
        url('SofiaProMedium-Italic.woff') format('woff'),
        url('SofiaProMedium-Italic.ttf') format('truetype'),
        url('SofiaProMedium-Italic.svg#SofiaProMedium-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProLight-Italic.eot');
    src: url('SofiaProLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProLight-Italic.woff2') format('woff2'),
        url('SofiaProLight-Italic.woff') format('woff'),
        url('SofiaProLight-Italic.ttf') format('truetype'),
        url('SofiaProLight-Italic.svg#SofiaProLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProExtraLight.eot');
    src: url('SofiaProExtraLight.eot?#iefix') format('embedded-opentype'),
        url('SofiaProExtraLight.woff2') format('woff2'),
        url('SofiaProExtraLight.woff') format('woff'),
        url('SofiaProExtraLight.ttf') format('truetype'),
        url('SofiaProExtraLight.svg#SofiaProExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProBold.eot');
    src: url('SofiaProBold.eot?#iefix') format('embedded-opentype'),
        url('SofiaProBold.woff2') format('woff2'),
        url('SofiaProBold.woff') format('woff'),
        url('SofiaProBold.ttf') format('truetype'),
        url('SofiaProBold.svg#SofiaProBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProBlack-Italic.eot');
    src: url('SofiaProBlack-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProBlack-Italic.woff2') format('woff2'),
        url('SofiaProBlack-Italic.woff') format('woff'),
        url('SofiaProBlack-Italic.ttf') format('truetype'),
        url('SofiaProBlack-Italic.svg#SofiaProBlack-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProExtraLight-Italic.eot');
    src: url('SofiaProExtraLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProExtraLight-Italic.woff2') format('woff2'),
        url('SofiaProExtraLight-Italic.woff') format('woff'),
        url('SofiaProExtraLight-Italic.ttf') format('truetype'),
        url('SofiaProExtraLight-Italic.svg#SofiaProExtraLight-Italic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProLight.eot');
    src: url('SofiaProLight.eot?#iefix') format('embedded-opentype'),
        url('SofiaProLight.woff2') format('woff2'),
        url('SofiaProLight.woff') format('woff'),
        url('SofiaProLight.ttf') format('truetype'),
        url('SofiaProLight.svg#SofiaProLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProBold-Italic.eot');
    src: url('SofiaProBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProBold-Italic.woff2') format('woff2'),
        url('SofiaProBold-Italic.woff') format('woff'),
        url('SofiaProBold-Italic.ttf') format('truetype'),
        url('SofiaProBold-Italic.svg#SofiaProBold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProMedium.eot');
    src: url('SofiaProMedium.eot?#iefix') format('embedded-opentype'),
        url('SofiaProMedium.woff2') format('woff2'),
        url('SofiaProMedium.woff') format('woff'),
        url('SofiaProMedium.ttf') format('truetype'),
        url('SofiaProMedium.svg#SofiaProMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProRegular-Italic.eot');
    src: url('SofiaProRegular-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProRegular-Italic.woff2') format('woff2'),
        url('SofiaProRegular-Italic.woff') format('woff'),
        url('SofiaProRegular-Italic.ttf') format('truetype'),
        url('SofiaProRegular-Italic.svg#SofiaProRegular-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProRegular.eot');
    src: url('SofiaProRegular.eot?#iefix') format('embedded-opentype'),
        url('SofiaProRegular.woff2') format('woff2'),
        url('SofiaProRegular.woff') format('woff'),
        url('SofiaProRegular.ttf') format('truetype'),
        url('SofiaProRegular.svg#SofiaProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProUltraLight-Italic.eot');
    src: url('SofiaProUltraLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProUltraLight-Italic.woff2') format('woff2'),
        url('SofiaProUltraLight-Italic.woff') format('woff'),
        url('SofiaProUltraLight-Italic.ttf') format('truetype'),
        url('SofiaProUltraLight-Italic.svg#SofiaProUltraLight-Italic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('SofiaProUltraLight.eot');
    src: url('SofiaProUltraLight.eot?#iefix') format('embedded-opentype'),
        url('SofiaProUltraLight.woff2') format('woff2'),
        url('SofiaProUltraLight.woff') format('woff'),
        url('SofiaProUltraLight.ttf') format('truetype'),
        url('SofiaProUltraLight.svg#SofiaProUltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('SofiaProSemiBold.eot');
    src: url('SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
        url('SofiaProSemiBold.woff2') format('woff2'),
        url('SofiaProSemiBold.woff') format('woff'),
        url('SofiaProSemiBold.ttf') format('truetype'),
        url('SofiaProSemiBold.svg#SofiaProSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sofia Pro Semi';
    src: url('SofiaProSemiBold-Italic.eot');
    src: url('SofiaProSemiBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('SofiaProSemiBold-Italic.woff2') format('woff2'),
        url('SofiaProSemiBold-Italic.woff') format('woff'),
        url('SofiaProSemiBold-Italic.ttf') format('truetype'),
        url('SofiaProSemiBold-Italic.svg#SofiaProSemiBold-Italic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

